# Fichiers env
.env
.env.*
*.env
!.env.example

# Global
*.log
__pycache__/
*.py[cod]
*.sqlite3
.DS_Store
Thumbs.db
*.gpx
*.zip
*.gpx
*.csv
*.tsv
*.sh
!/build.sh

# Python
*.egg-info/
*.egg
*.pyo
*.pyd
*.pytest_cache/
.mypy_cache/
.cache/
.venv/
venv/
pip-wheel-metadata/

# FastAPI / Backend
/backend/__pycache__/
/backend/.pytest_cache/
/backend/.mypy_cache/
/backend/.env
/backend/.venv/
/backend/instance/
/backend/uploads/
/backend/tests/__pycache__/

# Vue.js / Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.*
/frontend/.output/
/frontend/.vitepress/cache/
/frontend/.turbo/
/frontend/coverage/
/frontend/coverage/*

# Docker
**/docker-compose.override.yml
**/docker-compose.local.yml
**/Dockerfile.local
**/docker-volume-data/
**/.docker/

# VSCode / IDEs
.vscode/
.idea/
*.swp

# Optional - OS
*.bak
*.tmp
*.orig
*.~*

# Documentation
documentation/work-in-progress
